/*body {
  
  background: url("../images/prison.jpg") no-repeat center fixed;
  background-size: cover;
} */


header {
  width: 100%;
  color: black;
  font-size: 32px;
  font-family: 'Neuton', serif;
  margin-top: -20px;
}

header img {
  width: 10%;
  margin: -10px 0px 0px 455px;
}

#leagues {
  display: inline-flex;
  width: 100%;
  height: 200px;
  
}

#AFC,
#NFC {
  display: inline-flex;
  width: 50%;
  height: 200px;
  margin: 0;
 
}

#AFC img,
#NFC img {
  display: inline-flex;
  
  height: 100px;
  
  margin: auto;
}

.containerAFC, .containerNFC {
    width:49%;
    margin: auto;
    float:left;
}
.logo-box {
  display: inline-flex;
  align-content: center;
  margin: auto;
  width:115px;
  height:150px;
}