/*body {
  
  background: url("../images/prison.jpg") no-repeat center fixed;
  background-size: cover;
} */


header {
  width: 100%;
  color: black;
  font-size: 32px;
  font-family: 'Neuton', serif;
  margin-top: -20px;
}

header img {
  width: 10%;
  margin: -10px 0px 0px 455px;
}

#leagues {
  display: inline-flex;
  width: 100%;
  height: 200px;
  
}

#AFC,
#NFC {
  display: inline-flex;
  width: 50%;
  height: 100px;
  margin: auto;
  
 
}

#AFC img,
#NFC img {
  display: inline-flex;
  height: 95px;
  margin: auto;
  padding-bottom: -25px;
}

.containerAFC {
    width:45%;
    margin: auto;
    padding-left: 90px;
    float:left;
}

.containerNFC  {
     width: 45%;
     margin: auto;
     float: left;
     padding-left: 25px;
  
}



.logo-box {
  display: inline-flex;
  align-content: center;
  margin: auto;
  width:140px;
  height: 100px;
}